# 1 what is python and why it is popular?

- python is a object oriented programming language
- and it is easy to learn compared to othe programming languages like c++,java etc..
- In python we have many libraries
- and can be used in many modules like data science,full stack and etc..
- python is popular becoz its user friendly
- easy to learn and use

# 2.What is an IDE and name a few popular Python IDEs?

- IdE is used to implement the python code
- the most popular IDE for python are :
   jupyter notebook
   google code
   pycharm
  and some online compilers

# 3.What are the rules for naming variables in Python?
There are 5 rules for naming an variable 
1.variable can be in alphanumeric 
2.variables cannot start with digits 
3. variables cannot have special characters except underscore(_)
4.varaibles are case sensitive .
5.variables cannot start with keywords

# 4. How do you assign multiple values to multiple variables in a single line?

using equals to (=) we can assign multiple values to multiple varaiables 

ex : a=b=c=1=2=3

# 5.Can you use Python keywords as variable names? Why or why not?

we cannot use python keywords as variable names 
because keywords are reserved words with unique identity 
so we cannot use keywords as variable names

# 6.Why are comments important in programming?

comments are used to understand the code easily 
and for user purpose we write comments 
and the reprsentation of comments are (// )

# 7.What are the basic data types in Python?
there 4 types of basic data types 
-int 
-float
-boolean
-complex

# 8.How do you convert a string to an integer in Python?
- using int()

In [19]:
str="123"
print(int(str))

123

# 9. What is the difference between int and float?
1.int:
- int is a data type where the values can be -infinity to +infinity including 0
- and there is no decimals allowed
- ex: a=1,b=2
  
2.float :
- float is a data type where the decimals are allowed
- along with all the numbers
- ex: a=1.2 , b=3.0

# 10.How do you check the data type of a variable?
-using type() function we check the data type

In [25]:
a="sushma"
print(type(a))

<class 'str'>

# 11.How do you add an element to a list?
we can use append() operation for adding the element to a list

In [30]:
numbers=[1,2,3,4,5,7]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 5, 7, 10]

# 12. How do you create a tuple with one element?

In [40]:
tuple1=("sushma",)
print(type(tuple1))

<class 'tuple'>

# 13.How do you access a value in a dictionary using a key?

- displays a list of all the keys in the dictionary.

In [43]:
person={ 'name':'sushma','age':20}
print(person.keys())

dict_keys(['name', 'age'])

# 14.How do you access elements in a list?

- we access elements in list using index
- the index start with 0 and then continues...
- there are 2 types of index
- positive index : starts with 0 and continue...
- negative index : starts with -1 and continues..

# 15.How do you access a character in a string?
- with square brackets

In [47]:
a="sushma"
print(a[1])

u

# 16.How do you format strings in Python?

- it uses the operator {}

In [65]:
name = "sushma"
age = 20
formatted_string= "my name is {} and im {} old".format(name,age)
print(formatted_string)

my name is sushma and im 20 old

# 17.What is a tuple and how is it different from a list?

1.Tuple():

- tuple is same as a list
- tuple is immutable and will be in ordered sequence


2.List():

- list is mutable and can be modified

# 18.How do you concatenate two tuples?

In [77]:
tuple1=("sushma",)
tuple2=(1,2,3)
result=tuple1+tuple2
print(result)

('sushma', 1, 2, 3)

# 19.How do you access values in a dictionary?

using get() function we can access the dictionaries

In [80]:
person = {"name": "sushma", "age": 20}
print(person.get("name"))

sushma

# 20.How do you add a key-value pair to a dictionary?
 using update()

In [89]:
person = {"name": "sushma", "age": 20}
person.update({"city": "vijaywada"})
print(person)

{'name': 'sushma', 'age': 20, 'city': 'vijaywada'}

# 21. How do you remove a key-value pair from a dictionary?
 using pop()

In [103]:
person = {"name": "sushma", "age": 20}
age = person.pop("age")
print(age)  
print(person)

20
{'name': 'sushma'}

# 22.How do you add an element to a set?
using add

In [108]:
my_set={1,4,2,0}
my_set.add(10)
print(my_set)

{0, 1, 2, 4, 10}

# 23. How do you remove an element from a set?

In [111]:
my_set={1,4,2,0}
my_set.remove(0)
print(my_set)

{1, 2, 4}

# 24.What are the common set operations in Python?

union,intersection,difference and symmentric difference

# 25. Write a Python program to find the index of an element in a tuple?

In [120]:
name = ('sushma', 'harsha')
print(name.index('harsha'))

1