# code to convert list into string

In [9]:
lst=['h','e','l','l''o']
words=''.join(lst)
print(words)

hello

# area of triangle

In [21]:
b=int(input("enter the base:"))
h=int(input("enter the height:"))
a=1/2*b*h
print(a)

enter the base: 15
enter the height: 12

90.0

# triangles

In [40]:
a=int(input("enter the side 1:"))
b=int(input("enter the side 2:"))
c=int(input("enter the side 3:"))

if a**2 + b**2 == c**2:
    print("This is a right-angle triangle.")
elif a**2 + b**2 > c**2:
    print("This is an acute-angle triangle.")
else:
    print("This is an obtuse-angle triangle.")

enter the side 1: 3
enter the side 2: 4
enter the side 3: 5

This is a right-angle triangle.

In [69]:
a=int(input("enter the angle1:"))
            
if a < 90 and a>0:
    print("Acute Triangle")
elif a == 90:
    print("Right Triangle")
else:
    print("Obtuse Triangle")

enter the angle1: 90

Right Triangle

In [81]:
angle1=int(input("enter the angle1:"))
angle2=int(input("enter the angle2:"))
angle3=int(input("enter the angle3:"))

if angle1 < 90 and angle2 < 90 and angle3 < 90:
    print("Acute Triangle")
elif angle1 == 90 or angle2 == 90 or angle3 == 90:
    print("Right Triangle")
else:
    print("Obtuse Triangle")

enter the angle1: 32
enter the angle2: 32
enter the angle3: 12

Acute Triangle

# create the calculator

In [121]:
class Calculator:
    def add(self, x, y):
        print(x + y)

    def sub(self, x, y):
        print(x - y)

    def mul(self, x, y):
        print(x * y)

    def div(self, x, y):
        print(x / y)

In [125]:
x = Calculator()
x.add(4, 5)       
x.sub(10, 3)      
x.mul(6, 7)      
x.div(8, 2)       
x.div(8, 8)

9
7
42
4.0
1.0

# class to represent movie with attributes like mve title ,director and rating

In [49]:
class Movie:
    def __init__(self,hero,heroine, title, director, rating):
        self.hero=hero
        self.heroine=heroine
        self.title = title
        self.director = director
        self.rating = rating

    def __str__(self):
        return f"Hero: {self.hero}, heroine: {self.heroine}, Title: {self.title}, Director: {self.director}, Rating: {self.rating}"

In [53]:
movie1 = Movie("Prabas","Anuskha","Bahubali", "Rajamouli", 9.5)
print(movie1)

Hero:Prabas, heroine:Anuskha, Title: Bahubali, Director: Rajamouli, Rating: 9.5

# create a class attribute to represent different types of vehicles with their own attributes

In [59]:
class Vehicle:
    def __init__(self, make, model):
        self.make = make
        self.model = model

class Car(Vehicle):
    def __init__(self, make, model, doors):
        self.make = make
        self.model = model
        self.doors = doors

class Truck(Vehicle):
    def __init__(self,make,model,capacity):
        self.make = make
        self.model = model
        self.capacity = capacity

class Bike(Vehicle): 
    def __init__(self, make, model, engine_cc):
        self.make = make
        self.model = model
        self.engine_cc = engine_cc

class Bicycle(Vehicle):
    def __init__(self, make, model, has_gears):
        self.make = make
        self.model = model
        self.has_gears = has_gears

class Bus(Vehicle):
    def __init__(self, make, model, seating_capacity):
        self.make = make
        self.model = model
        self.seating_capacity = seating_capacity

In [61]:
car = Car("Toyota", "Camry", 4)
print(f"Car: {car.make} {car.model}, Doors: {car.doors}")

truck = Truck("Volvo", "Globetrotter", 1000)
print(f"Truck: {truck.make}, Model: {truck.model}, Capacity: {truck.capacity} lbs")

bike = Bike("Royal Enfield", "Classic 360", 883)
print(f"Bike: {bike.make}, Model: {bike.model}, Engine: {bike.engine_cc} cc")

bicycle = Bicycle("Giant", "Escape 3", True)
print(f"Bicycle: {bicycle.make}, Model: {bicycle.model}, Has Gears: {bicycle.has_gears}")

bus = Bus("Mercedes-Benz", "Citaro", 50)
print(f"Bus: {bus.make}, Model: {bus.model}, Seating Capacity: {bus.seating_capacity}")

Car: Toyota Camry, Doors: 4
Truck: Volvo, Model: Globetrotter, Capacity: 1000 lbs
Bike: Royal Enfield, Model: Classic 360, Engine: 883 cc
Bicycle: Giant, Model: Escape 3, Has Gears: True
Bus: Mercedes-Benz, Model: Citaro, Seating Capacity: 50