In [56]:
def print_menu():
    print("Menu:")
    print("Non-Veg Items:")
    for item in non_veg_items:
        print(f"{item}")
    
    print("Veg Items:")
    for item in veg_items:
        print(f"{item}")

def select_item(item):
    if item in non_veg_items:
        print("This is a non-veg item, and the item is ready. Please wait.")
    elif item in veg_items:
        print("This is a veg item, and the item is ready. Please wait.")
    else:
        print("We don't serve that item.")

non_veg_items = ["Chicken Curry", "Fish Biryani", "Mutton Biryani", "Prawn Masala", "Egg Curry","Chicken Biryani "]

veg_items = ["Panner Tikka", "Veg Biryani", "Dal Makhani", "Palak Panner", "Vegetable Curry"]

print("Welcome to Vamsi Restaurant")
print_menu()
selected_item = input("Select an item from the menu: ")
select_item(selected_item)

Welcome to Vamsi Restaurant
Menu:
Non-Veg Items:
Chicken Curry
Fish Biryani
Mutton Biryani
Prawn Masala
Egg Curry
Chicken Biryani
Veg Items:
Panner Tikka
Veg Biryani
Dal Makhani
Palak Panner
Vegetable Curry

Select an item from the menu:  Veg Biryani

This is a veg item, and the item is ready. Please wait.

# 1.Prime numbers

In [2]:
num = int(input("Enter a number: "))
def prime(num):
    for i in range(2,num):
        if num % i == 0:
            print("Not prime")
            break
    else:
        print("Prime number")

prime(num)

Enter a number:  34

Not prime

# 2.Pattern

In [58]:
n = int(input("enter thr number:"))

for i in range(1, n + 1):
    print(str(i) * (n - i + 1))

enter thr number: 5

11111
2222
333
44
5

# 3.Celsius to farenheit

In [4]:
c = float(input("Enter the temperature in Celsius: "))
f = c*(9/5)+32
print(f"{c} C is equal to {f} F")

Enter the temperature in Celsius:  43

43.0 C is equal to 109.4 F

# 4.Simple intrest

In [5]:
p = int(input("Enter the amount: "))
r = float(input("Enter the interest (in %): "))
t = int(input("Enter the time (in years): "))

simple_interest = (p*r*t) / 100

print(f"Simple Interest is: {simple_interest}")

Enter the amount:  100000
Enter the interest (in %):  5
Enter the time (in years):  3

Simple Interest is: 15000.0

# 5.Number to decimal

In [6]:
def decimal(num):
     a=float(num)
     print(a)

In [7]:
decimal(100)

100.0

# 6.character is digit or not

In [62]:
char = input("enter the number:")

if char.isdigit():
    print("It is a digit")
else:
    print("It is not a digit")

enter the number: sus

It is not a digit

# 7.Armstrong number

In [20]:
num = int(input("Enter a number: "))
sum = 0
temp = num
while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10

# Display the result
if num == sum:
    print(num, "is an Armstrong number")
else:
    print(num, "is not an Armstrong number")

Enter a number:  153

153 is an Armstrong number

# 8.Anagram or not

In [39]:
s1=input("enter the string1:")
s2=input("enter the string2:")

def check(s1, s2):
    if(sorted(s1)== sorted(s2)):
        print("The strings are anagrams.") 
    else:
        print("The strings aren't anagrams.")        
        
check(s1,s2) # formed by rearranging the letters of another word or phrase, using all the original letters exactly once

enter the string1: sushma
enter the string2: hfjf

The strings aren't anagrams.

# 9.GCD of two numbers

In [36]:
def gcd(a, b):
    while b != 0:
        a, b = b, a % b  
    print(a) 


num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

result = gcd(num1, num2)

#Multiply the common prime factors with the lowest powers.

Enter the first number:  12
Enter the second number:  18

6

# 10.Replace character in place of space

In [46]:
a = input("Enter the string: ")
b = input("Enter the replacing character: ")

replacing_string = a.replace(" ", b)

print(replacing_string)

Enter the string:  sush a
Enter the replacing character:  m

sushma

# 11.Swap 2 numbers without using third parameter

In [104]:
def swapping(num1, num2):
    print(f'Values before swapping: num1={num1}, num2={num2}')
    num1, num2 = num2, num1
    print(f'The swapped values are: num1={num1}, num2={num2}')
    print(num1, num2)

swapping(2,1)

Values before swapping: num1=2, num2=1
The swapped values are: num1=1, num2=2
1 2

In [106]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
a = a + b 
b = a - b 
a = a - b

print("After swapping:")
print("a =", a)
print("b =", b)

Enter the first number:  4
Enter the second number:  3

After swapping:
a = 3
b = 4

# 12.Remove duplicates

In [51]:
strs = input("Enter a string: ")
li = list(set(strs)) # set():unique elements from that list
print(li)

Enter a string:  sushma

['m', 's', 'a', 'h', 'u']

# 13.add 2 numbers without using any arithmetic operator

In [80]:
a = int(input("enter the number1: "))
b = int(input("enter the number2: "))

while b != 0:
    carry = a & b
    a = a ^ b
    b = carry << 1

print("Sum:", a)

enter the number1:  5
enter the number2:  4

Sum: 9

# 14.first non repeating occurence

In [97]:
str=input('enter character :')

for i in str:
    if str.count(i)==1:
        print(f'{i} is the first non-repeating of the string')
        break
else:
    print(f"There are no first non-repeating")

enter character : sushma

u is the first non-repeating of the string